.boxtext {
    padding: 50px;
    color : #be19b1;
    border: 5px solid #ff00dd;
    background-color: #000000;
    font-size: 30px;
    text-align: center;
    text-wrap: none;
    float: none;
    margin-left: 15%;
    margin-right: 15%;
    text-wrap: stable;
}

.blog {
    padding: 50px;
    color : #be19b1;
    border: 5px solid #ff00dd;
    background-color: #000000;
    font-size: 30px;
    text-align: center;
    float: none;
    text-wrap: none;
    margin-left: 15%;
    margin-right: 15%;
}

.boxtext2 {
    padding: 50px;
    color : #be19b1;
    border: 5px solid #ff00dd;
    background-color: #000000;
    font-size: 30px;
    text-align: center;
    float: none;
    text-wrap: none;
    margin-left: 15%;
    margin-right: 15%;
}

body{
    background-color: #000000;
    background-image:url(purple-digital-glitch-background-violet-pixel-distortion-glitch-transition-2.png);
    color: #ffffff;
    text-shadow: 4px 2px #3b0072;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-wrap: none;
    margin-left: 15%;
    margin-right: 15%;
}

em {
    text-align: left;
}

ul {
    text-align: left;
}

.title{
    color: #ff00dd;
    text-shadow: 4px 2px #3b0072;
    font-size: 100px;
    font-style: italic;
    font-weight: bold;
}

h2{
    font-style: italic;
    text-align:left;
}


a{
    size: 35px;
    color: #ff64ea;
    text-shadow: 4px 2px #3b0072;
}

a:hover{
    color: #ffffff;
    text-shadow: 4px 2px #ff64ea;
}