.boxtext {
    padding: 10px 10px;
    color : #be19b1;
    border: 5px solid #ff00dd;
    background-color: #000000;
    font-size: 30px;
    text-align: center;
    text-wrap: wrap;
    float: none;
    margin-left: 300px;
    margin-right: 300px;
}

.blog {
    padding: 10px 10px;
    color : #be19b1;
    border: 5px solid #ff00dd;
    background-color: #000000;
    font-size: 30px;
    text-align: center;
    float: none;
    margin-left: 300px;
    margin-right: 300px;
}

.boxtext2 {
    padding: 10px 10px;
    color : #be19b1;
    border: 5px solid #ff00dd;
    background-color: #000000;
    font-size: 30px;
    text-align: center;
    float: none;
    margin-left: 500px;
    margin-right: 500px;
}

body{
    background-color: #274c27;
    background-image:url(purple-digital-glitch-background-violet-pixel-distortion-glitch-transition-2.png);
    color: #ffffff;
    text-shadow: 4px 2px #3b0072;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-left: 250px;
    margin-right: 250px;
}

em {
    text-align: left;
}

ul {
    text-align: left;
}

.title{
    color: #ff00dd;
    text-shadow: 4px 2px #3b0072;
    font-size: 100px;
    font-style: italic;
    font-weight: bold;
}

h2{
    font-style: italic;
    text-align:left;
}


a{
    size: 35px;
    color: #ff64ea;
    text-shadow: 4px 2px #3b0072;
}

a:hover{
    color: #ffffff;
    text-shadow: 4px 2px #ff64ea;
}